@inject Serenity.ITextLocalizer Localizer
@{
    ViewData["Title"] = Localizer.Get("Db.Projects.ProjectMaterialRequest.EntityPlural");
}

<div id="GridDiv"></div>
<div id="TemporaryGridContainer" style="display:none"></div>

<script type="text/javascript">
    jQuery(function () {
        new Indotalent.Projects.ProjectMaterialRequestGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>